* {
    /* background-color: red; */
    margin: 0px;
}

/* HEADER STYLING STARTS HERE */
#header {
    background-color: rgba(19, 17, 17, 1);
    justify-content: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    z-index: 999;
    color: white;
}

#nav {
    margin: 20px 200px 0px 200px;
    /* background-color: blue; */
}

#nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

#nav > ul > li {
    text-decoration: none;
    font-size: 20px;
    font-weight: 550;
}

/* HEADER STYLING ENDS HERE */