* {
    /* background-color: red; */
    margin: 0px;
}

body {
    display: flex;           /*Used flexbox on the whole page */
    flex-direction: column;
} 

/* HEADER STYLING STARTS HERE */
#header {
    background-color: rgba(19, 17, 17, 0.7);
    justify-content: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    z-index: 999;
    color: white;
}

#nav {
    margin: 20px 200px 0px 200px;
    /* background-color: blue; */
}

#nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

#nav > ul > li {
    text-decoration: none;
    font-size: 20px;
    font-weight: 550;
}

/* HEADER STYLING ENDS HERE */


/* LANDING PAGE STYLING STARTS HERE */
#LandingPage {
    /* position: absolute; */
    width: 100%;
    z-index: 0;
    color: rgba(32, 30, 122, 0.767);
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    /* background-color: red; */
}

.Details {
    margin-top: 100px;
    margin-left: 100px;
    /* background-color: aqua;  */
}

.Details > h1 {
    margin: 50px 0px 20px 10px;
    font-size: 150px;
    padding: 20px;
}

.Details > h3 {
    margin-left: 10px;
    font-size: 100px;
    padding: 10px;
    justify-content: center;
}

.Skills {
    background-color: red;
    margin: 50px 250px 180px 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 30px;
    padding-top: 7px;
    border-radius: 20px;
}

.Skills > h5 {
    font-size: large;
    font-weight: bolder;
}

/* LANDING PAGE STYLING ENDS HERE */


/*STYLING FOR ABOUT ME PAGE STARTS HERE*/

#About {
    display: flex;
    flex-direction: row;
    height: 500px;
    margin: 50px 0px 50px 0px;
    background: rgb(255, 255, 255);
}

.ImageDiv {
    flex: 2;
    position: relative;
    padding: 80px 10px 0px 10px;
}

.ImageDiv > img {
    border-radius: 40%;
}

.Description {
    padding: 20px;
    flex: 3;
    display: flex;
    flex-direction: column;
}

.Description > h3 {
    text-align: center;
    margin-top: 10px;
    font-size: 50px;
    color: rgba(32, 30, 122, 0.767);
    border-bottom: 2px solid black;
}

.Description > p {
    color: rgba(32, 30, 122, 0.9);
    font-size: 22px;
    margin-top: 10px;
    padding: 5px;
}
/*STYLING FOR ABOUT ME PAGE ENDS HERE*/


/* STYLING FOR MY WORKS PAGE STARTS HERE */
#Works {
    margin: 100px 0px 0px 0px;
    width: cover;
    padding: 40px;
    background-color: #80D0C7;
}

#Works > h3 {
    text-align: center;
    font-size: xx-large;
    color: rgba(32, 30, 122, 0.9);
}

.work_box {
    width: 70%;
    height: 200px;
    display: flex;
    flex: 1;
    padding: 10px;
    margin-left: 180px;
}

.work_box > img {
    flex: 2;
    padding: 10px;
    margin: 0px 10px 0px 10px;
    background-color: rgb(228, 227, 227);
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.work_box > p {
    flex: 4;
    padding: 10px;
    background-color:aliceblue;
}

/* STYLING FOR MY WORKS PAGE ENDS HERE */


/* STYLING FOR CONTACTS PAGE STARTS HERE */
#Contact {
    height: 500px;
    width: cover;
    background-image: url('Images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

form {
    background-color: rgba(151, 54, 54, 0.7);
    height: 70%;
    width: 50%;
    align-self: center;
    margin: auto;
    margin-top: 5%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

form > h3 {
    text-align: center;
    margin: 10px;
    padding: 5px;
    font-size: xx-large;
    color: white;
}

form > input {
    width: 70%;
    height: 30px;
    margin: 10px;
    padding: 5px;
    position: relative;
    margin-left: 100px;
}

textarea {
    width: 70%;
    margin: 10px;
    margin-left: 100px;
}

/* .submit {
    width: 100px;
    margin-top: 30px;
    background-color: rgb(177, 49, 134);
    color: white;
    font-weight: bold;
} */

/* STYLING FOR CONTACTS PAGE ENDS HERE */




















/* STYLING FOR FOOTER STARTS HERE */
/* #footer {
    background-color: white;
    height: 300px;
    width: cover;
} */

/* .Icons {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 40%;
    margin: 30px 0px 70px 500px;
} */

/* .Icons > a {
    width: 25%;
    height: 25%;
} */

/* .Icons > a > img {
    width: 40%;
    height: 40%;
    padding: 5px;
    margin: 0px;
} */

/* footer > h3 {
    text-align: center;
    font-size: xx-large;
    color: rgba(32, 30, 122, 0.9);
    margin: 20px;
} */

/* footer > h4,h5 {
    color: rgba(32, 30, 122, 0.9);
    text-align: center;
} */

/* STYLING FOR FOOTER ENDS HERE */