* {
    /* background-color: red; */
    margin: 0px;
}

/* HEADER STYLING STARTS HERE */
#header {
    background-color: rgba(19, 17, 17, 0.7);
    justify-content: center;
    padding: 10px;
    width: 100%;
    position: fixed;
}

#nav {
    
}

/* HEADER STYLING ENDS HERE */